[tool.poetry]
name = "vembrane"
version = "1.0.1"
description = "Filter VCF/BCF files with Python expressions."
authors = ["Till Hartmann", "Christopher Schröder", "Johannes Köster", "Jan Forster", "Marcel Bargull", "Felix Mölder", "Elias Kuthe", "David Lähnemann"]
readme = "README.md"
homepage = "https://github.com/vembrane/vembrane"
repository = "https://github.com/vembrane/vembrane"

[tool.poetry.scripts]
vembrane = 'vembrane.cli:main'

[tool.poetry.dependencies]
python = ">=3.8"
pysam = "^0.20"
pyyaml = "^6.0"
asttokens = "^2.0"
numpy = { version = "^1.23", python = ">=3.8" }
intervaltree = "^3.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pre-commit = "^3.1"
black = { version = "^23.1", python = "^3.8" }
isort = "^5.12"

[tool.black]
line-length = 88
target-version = ['py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.5.1"]
build-backend = "poetry.masonry.api"
