[tool.poetry]
name = "vembrane"
version = "0.2.0"
description = "Filter VCF/BCF files with Python expressions."
authors = ["Till Hartmann"]

[tool.poetry.scripts]
vembrane = 'vembrane:main'

[tool.poetry.dependencies]
python = "^3.7"
pysam = "^0.16"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pyyaml = "^5.3"
pre-commit = "^1.10"
black = { version = "^19.10b0", python = "^3.7" }

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
